<%= link_to post_path(post.id) do %>
  <div class = "card">
    <%= image_tag post.image %>
    <%= post.name %>
    <!--raty.jsで星表示ここから-->
    <div id="star_<%= post.id %>"></div>
    <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#star_<%= post.id %>');
      if (elem == null) return;
      
      elem.innerHTML = "";
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= post.star %>",
        readOnly: true,
      };
      raty(elem, opt);
    });
    </script>
    <!--raty.jsで星表示ここまで-->
    <% if current_user.favorited_by?(post.id) %>
      <%= link_to destroy_favorite_path(post), class: "favorite-link", method: :DELETE, remote: true do %>
        <i class="fa fa-heart unfavorite-btn"></i>
        <% end %>
      <%= post.favorites.count %>
    <% else %>
      <%= link_to create_favorite_path(post), class: "favorite-link", method: :POST, remote: true do %>
        <i class="fa fa-heart favorite-btn"></i>
        <% end %>
      <%= post.favorites.count %>
    <% end %>
  </div>
<% end %>