<%= form_with model: @post, url: posts_path do |f| %>
  <%= f.file_field :image, accept:"image/*" %>
  <%= f.text_field :name, class:"form-control", placeholder:"商品名" %>
  <%= f.text_field :price, class:"form-control", placeholder:"価格（税込）" %>

  <!--raty.jsにて星を表示-->
  <div class="form-group row">
    <%= f.label :star,'評価', class:'col-md-3 col-form-label' %>
    <div id="star"></div>
　</div>
  <script>
  var elem = document.getElementById('star')
　　elem.innerHTML = '';
　　raty(elem,{
      size     : 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'post[star]',
      half: true,
    });
  </script>
  <!--星表示ここまで-->

  <!--モーダルウィンドウにてタグ選択画面を表示-->
  <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#postModal">タグを選択</button>
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">タグ選択画面</h4>
          </div>
          <div class="modal-body">
            <div class='form-group'>
              <% @tag_genres.each do |tag_genre| %>
                <%= tag_genre.name %>
                <%= f.collection_check_boxes(:tag_ids, Tag.where(tag_genre_id: tag_genre.id), :id, :name) do |tag| %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
    <!--モーダルウィンドウでのタグ表示ここまで-->

    <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#shopModal">店舗を検索</button>
  <div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">店舗検索画面</h4>
          </div>
          <div class="modal-body">
            <div class='form-group'>
              <%= form_with shops_search_path, local: true, method: :get do |f| %>
                <%= f.text_field :keyword %>
                <%= f.submit '検索' %>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">決定</button>
          </div>
        </div>
      </div>
    </div>

  <!--<= f.hidden_field :user_id, :value => current_user.id %>  -->
  <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
<% end %>