

<%= image_tag @post.image %>
<%= @post.name %>
<%= @post.price %>
<div id="star-rate<%= @post.id %>">
  <script>
    $('#star-rate<%= @post.id %>').empty();
    $('#star-rate<%= @post.id %>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @post.star %>,
    });
  </script>
</div>
<%= @post.tags.each do |tag| %>
  <%= tag.name %>
<% end %>
<%= link_to @shop["url"] do %>
  <%= image_tag @shop.dig('photo', 'pc', 's') %> 店名：<%= @shop["name"] %> : 住所：<%= @shop["address"] %>
<% end %>
<% if current_user.favorited_by?(@post.id) %>
  <%= link_to destroy_favorite_path(@post), class: "favorite-link", method: :DELETE, remote: true do %>
    <i class="fa fa-heart unfavorite-btn"></i>
    <% end %>
  <%= @post.favorites.count %>
<% else %>
  <%= link_to create_favorite_path(@post), class: "favorite-link", method: :POST, remote: true do %>
    <i class="fa fa-heart favorite-btn"></i>
    <% end %>
  <%= @post.favorites.count %>
<% end %>

<%= link_to "編集", edit_post_path %>
<%= form_with model: @post, url: post_path(@post.id), method: :delete do |f| %>
  <%= f.submit '削除', data: { confirm: '本当に削除しますか？' }, class:"btn btn-danger px-4 mt-3 ml-3" %>
<% end %>