<h2 class="text-center mb-3">管理者ログイン</h2>

<%= render "admin/shared/error_messages", resource: resource %>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <table class="tb01 mx-auto">
    <tr>
      <th>メールアドレス</th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
  </table>
  <div class="actions text-center mt-3">
    <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>
<% end %>
