<div class="app_explanation">
  <h5 class="text-center mx-auto">HARAPEKOってなに？</h5>
  <div class="w-25 mx-auto"><%= image_tag "top-image1.png", class:"img-fluid" %></div>
  <div class="explanation_answer bg-light rounded m-4">
    <p><%= image_tag "light.png", size:"20x30", class:"mx-1" %><strong>HARAPEKO</strong>は『食との新しい出会い』をテーマにした飲食店のレビューサイトです。<br>
    店自体を評価する一般的なレビューサイトと違い、店舗の個々のメニューに焦点をあてて、その食べ物の写真とともにレビュー投稿・閲覧をする形式です。<br>
    また、タグでの絞り込み機能によって従来のジャンル検索機能では出会わなかった新しい食べ物とのマッチングを促進します。</p>
  </div>
</div>
<table class="tb01">
  <tr>
    <td>
      <div class="top-image-group">
        <div class="top-image3">
          <%= image_tag "top-image3.png", class:"img-fluid m-3 w-25" %>
          <ul class="d-inline-block bg-light rounded m-3 p-3">
            <li>家族からガッツリしたものが食べたいと言われたけどどうしよう？</li>
            <li>いつも同じお店ばっかりだから新しいお店を開拓したい</li>
            <li>レビューの書き方にバラツキがあって何がおすすめなのかわからない</li>
          </ul>
        </div>
        <div class="shop-side">
          <div class="top-image2">
            <%= image_tag "top-image2.png", class:"img-fluid m-3" %>
          </div>
          <div class="top-image4">
            <%= image_tag "top-image4.png", class:"img-fluid m-3" %>
          </div>
          <ul class="d-inline-block bg-light rounded m-3 p-3">
            <li>新メニューを作ったけど、どうやってお客さまに発信しよう</li>
            <li>期間限定商品のお客さまからの反応を知りたい</li>
            <li>もっとお客さまに来ていただきたい</li>
          </ul>
        </div>
      </div>
    </td>
    <td>
      <div class="mx-4">
        <p>そんな時は</p>
        <%= image_tag "logo-icon.png", class:"img-fluid" %>
        <p>をご利用ください！</p>
      </div>
    </td>
  </tr>
</table>
<h5 class="text-center mt-4">使い方</h5>
<p class="text-center">※ゲストログインは閲覧用です。メールアドレス等を入力せずに閲覧いただけます。</p>
<div class="text-center">
  <%= image_tag "top-image5.png", class:"img-fluid w-75 border" %>
</div>

<p class="text-center m-3">最後までお読みいただきありがとうございます！ご利用の際は右上の『新規登録』をクリックしてください！<br>新しい食との出会いを楽しんでください！</p>