<P>ジャンルの新規作成</P>
<%= form_with model: @tag_genre, url: admin_tag_genres_path, method: :post do |f| %>
  <%= f.text_field :name %>
  <%= f.submit '新規作成' %>
<% end %>

<p>タグの新規作成</p>
<%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
  <%= f.text_field :name %>
  <%= f.collection_select :tag_genre_id, @tag_genres, :id, :name, include_blank: '--選択してください--' %>
  <%= f.submit '新規作成' %>
<% end %>

<% @tag_genres.each do |tag_genre| %>
  <%= tag_genre.name %>
    <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#tag_genreModal">編集</button>
    <div class="modal fade" id="tag_genreModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">タグジャンル編集画面</h4></h4>
          </div>
          <div class="modal-body">
            <%= form_with model: @tag_genre, url: admin_tag_genre_path(tag_genre.id), method: :patch do |f| %>
              <%= f.text_field :name %>
              <%= f.submit '保存' %>
            <% end %>
            <%= form_with model: @tag_genre, url: admin_tag_genre_path(tag_genre.id), method: :delete do |f| %>
              <%= f.submit '削除', data: { confirm: 'タグジャンルを削除すると紐づいたタグも全て削除されます。本当に削除しますか？' } %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div><br>
  <% tag_genre.tags.each do |tag| %>
  <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#tagModal"><%= tag.name %></button>
    <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">タグ編集画面</h4></h4>
          </div>
          <div class="modal-body">
            <%= form_with model: @tag, url: admin_tag_path(tag.id), method: :patch do |f| %>
              <%= f.text_field :name %>
              <%= f.collection_select :tag_genre_id, @tag_genres, :id, :name %>
              <%= f.submit '保存' %>
            <% end %>
            <%= form_with model: @tag, url: admin_tag_path(tag.id), method: :delete do |f| %>
              <%= f.submit '削除', data: { confirm: '本当に削除しますか？' } %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>