<div class="container">
    <div class="row">
      <div class="card-group">
      <% posts.each do |post| %>
      <div class="col-6 col-md-4 col-lg-3">
          <%= link_to admin_post_path(post.id) do %>

              <div class="card">
                <div class="card-image">
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class:"post-image img-fluid" %>
                  <% else %>
                    <%= image_tag 'no_image', class:"post-image img-fluid" %>
                  <% end %>
                </div>
                <div class="card-body">
                <p class="post_title"><%= post.name %></p>
                <!--raty.jsで星表示ここから-->
                <div id="star_<%= post.id %>"></div>
                <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#star_<%= post.id %>');
                  if (elem == null) return;
            
                  elem.innerHTML = "";
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    score: "<%= post.star %>",
                    readOnly: true,
                  };
                  raty(elem, opt);
                });
                </script>
                <div id="post_<%= post.id %>">
                  <%= render 'post', post: post %>
                </div>
                </div>
              </div>

          <% end %>
          </div>
      <% end %>
    </div>
    </div>
    <%= paginate posts %>
  </div>