<h4 class="text-center">登録情報編集</h4>

<%= render "devise/shared/error_messages", resource: @user %>

<%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>

  <table class="tb01 mx-auto">
    <tr>
      <th>ニックネーム</th>
      <td><%= f.text_field :user_name %></td>
    </tr>
    <tr>
      <th>自己紹介文</th>
      <td><%= f.text_area :user_introduction, class:"w-100" %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td>姓<%= f.text_field :last_name %></td>
      <td>名<%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>セイ<%= f.text_field :last_name_kana %></td>
      <td>メイ<%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号（ハイフンなし）</th>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address, class:"w-100" %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= f.text_field :email, class:"w-100" %></td>
    </tr>
    <tr>
      <th>電話番号（ハイフンなし）</th>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10) %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
        <%= f.radio_button :sex, User.sexes.key(0) %>
        <%= f.label :sex, User.sexes_i18n[:male] %>
        <%= f.radio_button :sex, User.sexes.key(1) %>
        <%= f.label :sex, User.sexes_i18n[:female] %>
        <%= f.radio_button :sex, User.sexes.key(2) %>
        <%= f.label :sex, User.sexes_i18n[:other] %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :'会員ステータス' %></th>
      <td>
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted, "有効", value: false, style: "display: inline-block;" %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted, "退会", value: true, style: "display: inline-block;" %>
      </td>
    </tr>
  </table>
  <div class="actions text-center">
    <%= f.submit "変更を保存", class:"btn btn-success px-4 mt-3" %>
  </div>
<% end %>