<h2 class="text-center mb-3">ログイン</h2>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= form_with model: @user, url: user_session_path do |f| %>
  <table class="tb01 mx-auto">
    <tr>
      <th>メールアドレス</th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
  </table>
  <div class="actions text-center mt-3">
    <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>
<% end %>

<h5 class="m-3"><span class="bg-light">会員登録がお済みでない方</span></h4>
        <p class="ml-5"><%= link_to 'こちら', new_user_registration_path %>  から新規登録を行なってください。</p>
