<h4 class="text-center">登録情報編集</h4>
<p class="text-center">※生年月日・性別は変更できません。</p>

<%= render "devise/shared/error_messages", resource: @user %>

<%= form_with model: @user, url: users_information_path, method: :patch do |f| %>

  <table class="tb01 mx-auto">
     <tr>
      <th>ニックネーム<span class="font-weight-normal text-danger">　※他のユーザーに表示されます</span></th>
      <td><%= f.text_field :user_name %></td>
    </tr>
    <tr>
      <th>自己紹介文<span class="font-weight-normal text-danger">　※他のユーザーに表示されます</span></th>
      <td><%= f.text_area :user_introduction, class:"w-100" %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td>姓<%= f.text_field :last_name %></td>
      <td>名<%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>セイ<%= f.text_field :last_name_kana %></td>
      <td>メイ<%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号（ハイフンなし）</th>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address, class:"w-100" %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= f.text_field :email, class:"w-100" %></td>
    </tr>
    <tr>
      <th>電話番号（ハイフンなし）</th>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <th>パスワード（６文字以上）</th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th>パスワード（確認用）</th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <div class="text-center">
    <%= f.submit "変更を保存", class:"btn btn-success px-4 mt-3" %>
  </div>
<% end %>