<h4 class="text-center">登録情報編集</h4>
<p class="text-center">※生年月日・性別は変更できません。</p>

<%= render "devise/shared/error_messages", resource: @user %>

<%= form_with model: @user, url: users_information_path, method: :patch do |f| %>

  <table class="tb01 mx-auto">
     <tr>
      <th>ニックネーム(20字以内)<span class="font-weight-normal text-danger">　※他のユーザーに表示されます</span></th>
      <td><%= f.text_field :user_name, required: true %></td>
    </tr>
    <tr>
      <th>自己紹介文(140字以内)<span class="font-weight-normal text-danger">　※他のユーザーに表示されます</span></th>
      <td><%= f.text_area :user_introduction, class:"w-100" %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td>姓<%= f.text_field :last_name, required: true %></td>
      <td>名<%= f.text_field :first_name, required: true %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>セイ<%= f.text_field :last_name_kana, required: true %></td>
      <td>メイ<%= f.text_field :first_name_kana, required: true %></td>
    </tr>
    <tr>
      <th>郵便番号（ハイフンなし）</th>
      <td><%= f.text_field :postal_code, required: true %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address, class:"w-100", required: true %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= f.text_field :email, class:"w-100", required: true %></td>
    </tr>
    <tr>
      <th>電話番号（ハイフンなし）</th>
      <td><%= f.text_field :telephone_number, required: true %></td>
    </tr>
  </table>
  <div class="text-center">
    <%= f.submit "変更を保存", class:"btn btn-success px-4 mt-3" %>
  </div>
<% end %>