<h5 class="text-center mb-3">登録情報</h5>
<table class="m-auto">
  <tr>
    <th>ニックネーム</th>
    <td><%= current_user.user_name %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= current_user.user_introduction %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= current_user.last_name %> <%= current_user.first_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= current_user.last_name_kana %> <%= current_user.first_name_kana %></td>
  </tr>
  <tr>
    <th>郵便番号（ハイフンなし）</th>
    <td><%= current_user.postal_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= current_user.address %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>電話番号（ハイフンなし）</th>
    <td><%= current_user.telephone_number %></td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td><%= current_user.birth_date %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= current_user.sex_i18n %></td>
  </tr>
</table>
<table class="m-auto">
  <tr>
    <td>
      <%= link_to "登録情報編集", edit_user_path(current_user.id),class:"btn btn-success px-4 mt-3 mr-4" %>
    </td>
    <td>
      <%= link_to '退会する', users_unsubscribe_path, class:"btn btn-danger px-4 mt-3 ml-4" %>
    </td>
  </tr>
</table>
<h5 class="text-center mb-3 mt-4">投稿一覧</h5>
<%= render 'public/posts/list', posts: @posts %>