<!DOCTYPE html>
<html>
  <head>
    <title>Harapeko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>はらぺこ</h1>
        <% if admin_signed_in? %>
          <%= link_to "投稿一覧", admin_posts_path, class:"btn btn-light px-4" %>
          <%= link_to "会員一覧", admin_users_path, class:"btn btn-light px-4" %>
          <%= link_to "タグ管理", admin_tags_path, class:"btn btn-light px-4" %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-light px-4" %>
        <% elsif user_signed_in? %>
          <%= link_to posts_path do %>
            <i class="far fa-utensils fa-sm"></i>タイムライン
          <% end %>
          <%= link_to posts_path do %>
            <i class="far fa-heart fa-sm"></i>お気に入り
          <% end %>
          <%= link_to users_my_page_path do %>
            <i class="far fa-user fa-sm"></i>マイページ
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="far fa-home-alt fa-sm"></i>ログアウト
          <% end %>
        <% else %>
          <%= link_to users_guest_sign_in_path, method: :post do %>
            ゲストログイン(閲覧用)
          <% end %>
          <%= link_to new_user_registration_path do %>
            新規登録
          <% end %>
          <%= link_to new_user_session_path do %>
            ログイン
          <% end %>
        <% end %>
      <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
        <%= f.text_field :keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>
    </footer>
  </body>
</html>
